.flex {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 5px;
  flex-wrap: wrap;
}
div.blog_container {
  padding: 40px 10px;
}
div.blog_inner_content {
  gap: 70px;
  align-items: start;
}
div.blogs {
  flex: 2;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 30px;
  max-width: 100%;
}
div.single_blog {
  flex-direction: column;
  gap: 15px;
  align-items: start;
}
div.single_blog .blog_img img {
  max-width: 100%;
}
div.single_blog .post_info {
  justify-content: start;
}
div.blog_info {
  gap: 3px;
}
div.read_more_btn button {
  border: none;
  outline: none;
  border-bottom: 2px solid gray;
  background: transparent;
  color: rgb(14, 13, 13);
  text-align: left;
  padding: 0;
  position: relative;
  margin-bottom: 20px;
  font-size: 17px;
}
div.read_more_btn button::after {
  content: "";
  position: absolute;
  left: 0px;
  top: 20px;
  width: 0%;
  height: 2px;
  background: rgb(243, 162, 64);
  transition: all 0.5s;
}
div.read_more_btn button:hover::after {
  width: 100%;
}
div.read_more_btn button:hover {
  box-shadow: none;
}
div.blog_search {
  width: 260px;
  position: relative;
  border: 1px solid gray;
  padding: 10px;
  border-radius: 5px;
}
span.search_icon {
  position: absolute;
  top: 11px;
  right: 11px;
  cursor: pointer;
}
input#search_bar {
  border: none;
  outline: none;
  width: 90%;
}
div.blog_categories h2 {
  color: #000000ce;
  margin: 20px 0px;
  border-bottom: 2px solid gray;
  width: fit-content;
  padding: 2px 0px;
}

ul.blog_cat {
  flex-direction: column;
  align-items: start;
}

ul.blog_cat li {
  display: flex;
  justify-content: space-between;
  width: 260px;
  transition: all 0.2s;
}
ul.blog_cat li a {
  text-decoration: none;
  color: #000000c9;
  cursor: pointer;
}
ul.blog_cat li:hover a {
  color: tan;
}

div.recent_posts {
  margin-top: 70px;
}
div.recent_posts_inner_content {
  flex-direction: column;
  align-items: start;
  gap: 15px;
}

div.sinlge_recent_post {
  gap: 5px;
  transition: all 0.2s;
  cursor: pointer;
}

div.sinlge_recent_post:hover div.recent_post_text p {
  color: rgb(51, 138, 219);
}

div.recent_post_text {
  width: 149px;
}

@media screen and (min-width: 768px) {
  div.blog_container {
    padding: 50px 60px;
  }

  div.recent_posts {
    margin-top: 70px;
  }
}
