/* google font poppins  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --text-color: gray;
  --heading-color: rgba(0, 0, 0, 0.753);
  --btn-bg-color: rgb(184, 142, 47);
  --bg-color: rgb(252, 248, 243);
}

body {
  font-family: "Poppin", sans-serif;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.btn {
  padding: 5px 15px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: var(--btn-bg-color);
  color: #ffff;
  transition: all 0.3s;
}

.btn.active{
  background: rgba(146, 105, 9, 0.932);
  color: #ffff;
}

.btn:hover {
  box-shadow: 1px 0px 15px rgba(184, 143, 47, 0.589);
}
.btn:active {
  transform: scale(1.1);
}

/* header section styles  */

.navbar_inner_content {
  justify-content: space-around;
  padding: 10px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.24);
}
.logo {
  cursor: pointer;
}
.logo img {
  width: 100px;
}

.link {
  display: none;
}

.link li a {
  text-decoration: none;
  color: var(--heading-color);
  transition: all 0.2s;
  font-weight: 600;
}

.link li a:hover {
  color: var(--btn-bg-color);
}
.header_icons {
  gap: 20px;
}
.header_icons img {
  width: 20px;
  cursor: pointer;
}

.control_menu_icon i {
  cursor: pointer;
}

.menu_toggle {
  display: block;
}

@media screen and (min-width: 1024px) {
  .logo img {
    width: 100%;
  }
  .menu_toggle {
    display: none;
  }
  .link {
    display: flex;
    gap: 50px;
  }
  .header_icons {
    gap: 50px;
  }
}

/* browse the range styles  */
.range_container {
  text-align: center;
  padding: 60px 15px;
}
.title {
  margin-bottom: 50px;
}
.title h2 {
  color: var(--heading-color);
  text-align: center;
}
small {
  color: var(--text-color);
}
.range_img img {
  border-radius: 8px;
  width: 100%;
}
.range_text h3 {
  color: var(--heading-color);
}
.range_text h3 {
  margin-top: 20px;
}
.range_cards {
  gap: 30px;
}
.single_card {
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .range_container {
    padding: 50px 20px;
  }
  .range_img img {
    width: 240px;
  }
}
@media screen and (min-width: 1024px) {
  .range_container {
    padding: 60px 70px;
  }
  .range_img img {
    width: 300px;
  }
}

@media screen and (min-width: 1200px) {
  body {
    max-width: 1500px;
    margin: 0 auto;
  }
  .range_img img {
    width: 340px;
  }
}

/* here products styles   */
.product_container{
  padding: 60px 10px;
  text-align: center;
}

.products_cards {
  position: relative;
  gap: 20px;
  align-items: start;
}
.single_product_card {
  position: relative;
  width: 150px;
  height: auto;
}

.single_product_card:hover .product_hover_details {
  opacity: 1;
  visibility: visible;
  height: 100%;
}
.offer,
.offer_respira {
  display: inline;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 5px;
  border-radius: 50%;
  background: tomato;
}
.offer_respira {
  background: rgb(46, 193, 172);
}
.offer_respira small {
  color: #fff;
}
.offer small {
  color: white;
  font-size: 12px;
}
.product_img img {
  max-width: 100%;
  margin-bottom: -5px;
}
.product_text {
  background-color: rgb(244, 245, 247);
  padding: 15px;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}
.product_text h3 {
  color: var(--heading-color);
}
.product_text .price {
  justify-content: space-between;
  width: 100%;
}
.product_text .price small {
  text-decoration: line-through;
}
.product_hover_details {
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 0;
  height: 0%;
  width: 100%;
  background: #2c2c2c67;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s;
  overflow: hidden;
}
.emotion_btns .e_btn {
  color: #fff;
  gap: 2px;
  cursor: pointer;
  transition: all 0.3s;
}

.emotion_btns .e_btn:hover {
  color: wheat;
}

.products_bottom_btn {
  background-color: #fff;
  color: #000;
  border: 1px solid var(--btn-bg-color);
  margin-top: 40px;
  font-size: 17px;
  padding: 8px 20px;
}

@media screen and (min-width: 768px) {
  .hero_products_inner_content {
    padding: 50px 20px;
  }
  .single_product_card {
    width: 220px;
  }
}
@media screen and (min-width: 1024px) {
  .single_product_card {
    width: 220px;
  }
}
@media screen and (min-width: 1200px) {
  body {
    max-width: 1500px;
    margin: 0 auto;
  }
  .single_product_card {
    width: 285px;
  }
}

/* beautiful rooms section styles  */
.beauty_rooms_container {
  background: var(--bg-color);
  padding: 50px 0px 50px 0px;
}
.beauty_rooms_inner_content {
  gap: 40px;
}
.beauty_room_left_side_text {
  justify-content: center;
  flex-direction: column;
  align-items: start;
  max-width: 314px;
  height: auto;
}
.beauty_room_left_side_text h1 {
  font-size: 35px;
  color: var(--heading-color);
}
.beauty_room_left_side_text small {
  display: inline-block;
  margin: 15px 0px;
}
.beauty_room_left_side_text button {
  padding: 10px 20px;
}

.beauty_right_side_content {
  gap: 20px;
  align-items: start;
}

.beauty_room_mid_img {
  position: relative;
  /* width: 350px; */
}
.beauty_room_mid_img img {
  max-width: 100%;
}

.about_room {
  align-items: end;
  gap: 0;
  position: absolute;
  bottom: 30px;
  left: 30px;
}
.about_room .about_room_text {
  width: 217px;
  background: #ffffff94;
  border-radius: 2px;
  padding: 35px;
}
.about_room .about_room_text p {
  color: var(--text-color);
  margin-bottom: 10px;
}
.about_room .about_room_text p span {
  height: 1px;
  width: 20px;
  background: var(--text-color);
  display: inline-block;
  text-align: center;
  margin-bottom: 4px;
}
.about_room .about_room_text h2 {
  color: var(--heading-color);
}
.about_room > div button {
  padding: 10px 15px;
  font-size: 17px;
}

.slider {
  width: 300px;
}
.slider img {
  height: 400px;
  max-width: 100%;
}
.slick-dots {
  left: 0px;
  bottom: -40px;
}
.slick-dots li.slick-active button:before {
  border: 1px solid var(--btn-bg-color);
  border-radius: 50%;
  color: var(--btn-bg-color);
}
.slick-dots li button:before {
  font-size: 8px;
  line-height: 22px;
}

@media screen and (min-width: 768px) {
  .beauty_rooms_container {
    padding: 50px 0px 50px 0px;
  }
  .beauty_rooms_inner_content {
    align-items: start;
    justify-content: space-evenly;
    gap: 50px;
  }
  .beauty_room_left_side_text {
    height: 300px;
  }
  .beauty_room_mid_img {
    position: relative;
    width: 350px;
  }
  .beauty_room_mid_img img {
    max-width: 100%;
  }

  .slick-dots {
    left: -83px;
    bottom: -50px;
  }
}
@media screen and (min-width: 1024px) {
  .beauty_rooms_container {
    padding: 50px 0px 50px 30px;
  }
  .beauty_rooms_inner_content {
    gap: 80px;
  }
  .beauty_room_left_side_text {
    height: 400px;
  }

  .slick-dots {
    left: -83px;
    bottom: -50px;
  }
}
@media screen and (min-width: 1200px) {
  body {
    max-width: 1500px;
    margin: 0 auto;
  }
  .beauty_rooms_container {
    padding: 50px 0px 50px 50px;
  }
  .beauty_rooms_inner_content {
    gap: 100px;
  }
  .beauty_room_left_side_text {
    height: 500px;
  }
}

/* funiro image gallery styles  */
.img_gallery_container {
}
.img_gallery_inner_content {
  /* padding: 50px ; */
}
.title {
  text-align: center;
}
.title h1 {
  color: var(--heading-color);
}
.gallery_box {
  gap: 5px;
}

.gallery_colum_1,
.gallery_colum_3 {
  flex: 2;
}
.colum {
  width: 300px;
  gap: 5px;
}
.colum img {
  max-width: 100%;
}

/* footer section styles  */

.footer_container {
  border-top: 1px solid var(--text-color);
}

.footer_inner_content {
  padding: 40px 10px 0 10px;
}
.footer_box {
  align-items: start;
  justify-content: center;
  gap: 50px;
  padding-bottom: 40px;
  border-bottom: 1px solid var(--text-color);
}

.colum {
  align-items: start;
  justify-content: start;
  gap: 20px;
}
.footer_links {
  justify-content: space-between;
}
.footer_link,
.footer_help_links {
  flex-direction: column;
  align-items: start;
  gap: 30px;
}
.footer_link li a,
.footer_help_links li a {
  color: rgba(0, 0, 0, 0.747);
  transition: all 0.2s;
  text-decoration: none;
}
.footer_link li a:hover,
.footer_help_links li a:hover {
  color: var(--btn-bg-color);
}

.footer_title {
  color: var(--text-color);
  margin-bottom: 10px;
}

input[type="email"] {
  border: none;
  background: transparent;
  border-bottom: 1px solid var(--text-color);
  outline: none;
  font-size: 16px;
  color: var(--heading-color);
}
.subscribe_btn {
  border: none;
  outline: nonen;
  background: transparent;
  border-bottom: 1px solid black;
  transition: all 0.2s;
  font-weight: 500;
  cursor: pointer;
}

.subscribe_btn:hover {
  color: tomato;
}

.footer_bottom {
  padding: 30px 0;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer_inner_content {
    padding: 50px 50px 0 50px;
  }
  .footer_box {
    justify-content: space-between;
    gap: 30px;
  }
}
@media screen and (min-width: 1024px) {
  .footer_inner_content {
    padding: 50px 70px 0 70px;
  }

  .footer_title {
    margin-bottom: 20px;
  }
  .footer_bottom {
    padding: 30px 0;
    text-align: left;
  }
}

/* shop page styles  */
.shop_hero {
  background: url(./Images/shop_page_img/shop_bg.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0px;
  text-align: center;
}
.shop_hero span {
  color: var(--text-color);
}

.shop_filter_section {
  justify-content: space-around;
  padding: 10px 0px;
  background: rgb(245, 232, 196);
}

.filter_left_side img {
  width: 20px;
}

.right p {
  color: #000000ad;
}

.filter_right_side p {
  color: #000000ad;
}
.filter_right_side span {
  background: #fff;
  color: var(--text-color);
  padding: 5px 10px;
}

/* shop page prducts navigation styles  */
.products_navigation{
  padding-bottom: 50px;
}

.product_navigation_btn{
  background: rgb(250, 243, 234);
  color: #000
}

/* shope page delevery features */

.features_content > div{
  flex: auto;
  justify-content: start;
  gap: 5px;
}
.features_content{
  padding: 30px;
  background: rgb(250, 243, 234);
}
.single_feature h3{
  color: var(--heading-color);
}

@media screen and (min-width: 768px) {
  .shop_hero {
    padding: 120px 0px;
  }

  .features_content > div{
    flex: 1;
    justify-content: center;
    gap: 5px;
  }
 
}


